/* start variables */
:root{
 --main-color: #e5e4e2 ;
 --secondry-color: #bfa980;
 --black-color: #000000;
 --nav-border-color:rgb(51, 51, 50);
}
/* end variables */

/*Start global rules */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  scrollbar-width: thin;
  scrollbar-color: var(--secondry-color) var(--black-color);
}

html{
  scroll-behavior:smooth;
  overflow-x: hidden;  
}

html::selection {
  background-color: var(--main-color);
  color: var(--secondry-color);
}

body{
  background-color: var(--black-color);
}

.main {
  margin-inline: 5rem;
}

section{
  scroll-margin-top: 150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* start of fonts  */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playlist Script";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PlaylistFF/Playlist\ Script.otf") format("opentype");
}
/* end of fonts  */

 /* End global rules*/

  /* start navbar */
  
nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90%;
  margin-inline: 5%;
  top: .8rem;
  background-color: #000000cf;
  z-index: 1000;
  padding: .7rem 4rem .7rem 2rem;
  border-radius: 2rem;
  border: 2.5px solid var(--nav-border-color);
  transition: all 0.4s ease;
  align-items: center;
}

nav li{
  list-style: none;
  text-decoration: none;
}

nav a{
  text-decoration: none;
  font-size: 18px;
}

nav .sidebar .menu,
nav .sidebar .x{
  display: none;
}

#sidebar-active,
#sidebar-close{
  display: none;
}

nav .name a {
  color: var(--secondry-color);
  letter-spacing: 1px;
}

nav .links a{
  color: var(--main-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-weight: 200
}

nav .links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: .3vh;
  background-color: var(--secondry-color);
  transition: width 0.3s ease;
  border-bottom: .3vh solid var(--secondry-color);
}

nav .links a:hover::after {
  width: 100%;
}

nav .links ul{
  display: flex;
}

nav .links ul li:not(:last-child){
  margin-right: 3vw;
}
/* end navbar */

/* start of landing-page  */

header{
  background-image: url(../images/background.jpg);
  background-size: cover;
  min-height: 95vh;
}

.landing-page{
  padding-top: 27vh;
}

.landing-page h1 {
  font-size: 17vw;
  font-weight: 900;
  transform: scaleY(1.3);
  text-align: center;
  color: var(--main-color);
  letter-spacing: 5px;
}

.ui-dev{
  position: absolute;
  left: 50%;
  transform: translate(-44%, -316%);
}

.landing-page h2{
  display: inline-block;
  font-family: "Playlist Script", cursive;
  font-size: 6vw;
  font-weight: 100;
  color: var(--secondry-color);
  transform: rotate(-8deg);
  text-shadow: rgba(93, 93, 93, 0.686) 0px 5px 8px;
}

.landing-page .pers-ph{
  position: absolute;
  top: 38%;
  left: 12.5%;
}

.landing-page .pers-ph img{
width: 20vw;
}

/* end of landig page  */

/* start of home  */
.home{
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  gap: 2rem 5rem;
  color: var(--main-color);
  min-height: 90vh;
  align-items: center;
  padding-block: 13vh 16vh;
  margin-top: 20vh;
}

.home .title h2{
  font-size: 5vw;
  line-height: 1.1;
  letter-spacing: 1px;
}

.home .title span{
  color: var(--secondry-color);
}

.home .snow img{
  width: 93%;
  border-radius: 40vw;
}

.learn-more{
  display: flex;
  justify-content: center;
}

.learn-more a{
  text-decoration: none;
  color: var(--black-color);
  display: flex;
  align-items: center;
}

.bttn{
  background-color: var(--secondry-color);
  display: flex;
  font-size: 1.4vw;
  border-radius: 60px;
  padding-inline: 18px 15px;
  font-weight: 400;
  align-items: center;
  transition: all 0.3s ease;
}

.bttn:hover{
  transform: scale(1.04);
  box-shadow: rgba(191, 169, 128, 0.5) 0px 5px 15px;  
}

.bttn svg{
  width: 3.5vw;
  }

.home .paragraph{
  font-size: 1.9vw;
  font-weight: 400;
}
/* end of home  */

 /* start of about me */

.about-me{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 5rem;
  color: var(--main-color);
  align-items: start;
  margin-top: 5vh;
  padding-block: 15vh;
  height: 100vh;
}

.about-me .photos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .photos .picture-one{
  margin-right: 5vw;
  transform: translateY(-5vh);
}

.about-me .photos .picture-two{
  transform: translateY(5vh);
}

.about-me .photos img{
  width: 18vw;
  border-radius: 14vw;
}

.title{
  font-size: 3vw;
  color: var(--secondry-color);
}

.about-me .paragraph{
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: 400;
}

.about-me .hire-me{
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.about-me .hire-me a{
  text-decoration: none;
  color: var(--black-color);
}

.about-me .hire-me .bttn{
  font-size: 1.6vw;
  padding-inline: 40px 20px;
}

 /* end of about me */

 /* start of work */

.projects{
  padding-block: 6rem 2rem;
  text-align: center;
}

.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4rem;
  align-items: start;
}


.work .sec{
  background-color: var(--main-color);
  border-radius: 12px;
  transition: all 0.6s ease;
}

.work .sec > img {
  border-radius: 12px;
  width: 95%;
  margin:2.5%;
} 

.sec h3{
  text-align: center;
  margin-bottom: 1rem;
  color: var(--black-color);
  font-weight: 500;
}

.work .tools{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  transition: all 0.4s ease;
}

.work .tools li img{
  width: 3vw;
  margin-bottom: 1rem;
} 

.work .bttns {
  position: absolute;
  display: none;
  justify-content: center;
  transition: all 0.4s ease;
}

.work .sec:hover{
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.work .sec:hover ul{
display: none;
}

.work .sec:hover .bttns {
  position: static;
  transform: translateY(0);
  gap: 2vw;
  margin-bottom: 1rem;
  display: flex;
}

.bttns .bttn{
  background-color: var(--main-color);
  border: var(--secondry-color) 2px solid;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.bttns .bttn:hover{
  transform: scaleX(1.06);
  background-color: var(--secondry-color);
  box-shadow: rgba(191, 169, 128, 0.5) 0px 5px 15px;
}

.bttns .bttn a{
  text-decoration: none;
  color: var(--black-color);
  display: flex;
  align-items: center;
  font-size: 1vw;
}

.bttns .bttn svg{
  width: 2vw;
  margin-left: 1rem;
}

 /* end of work */


/* srart of skills  */ 
.skills .title {
  margin: 6rem 0 0 17.7vh;
  transform: translateY(6vh);
  text-shadow: #0000009e 4px 4px 15px;
  font-size: 3vw;
}

.carousel {
  display: flex;
  overflow: hidden;
  gap: 2rem;
  padding: 2rem 0;
  width: 80%;
  margin: 7rem auto 0;
}

.carousel ul {
  display: flex;
  gap: 2rem;
}

.carousel li {
  min-width: 120px;
  text-align: center;
  color: var(--main-color);
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.skills ul li::-webkit-scrollbar {
  display: none;
}

.skills ul {
  display: flex;
  animation: spin 25s linear infinite;
  gap: 2rem;
}

.skills .carousel li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills ul li img {
  width: 10vw;
  margin-bottom: .4rem;
}

.skills ul li p{
  color: var(--main-color);
  text-align: center;
  font-size: 3vw;
  text-shadow: #0000009e 4px 4px 15px;
}
/* end of skills  */ 


/* srart of contact  */ 

.cntct{
  transform: translate(3vh , 3rem);
  text-shadow: #0000009e 4px 4px 15px;
  font-size: 3vw;
  width: fit-content;
  margin-top: 20rem;
}

.contact{
  display: flex;
  gap: 3rem;
  height: 100vh;
}

.contact article {
  width: 54%;
  height: 36rem;
}

.contact .infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  color: var(--main-color);
  background-color: var(--secondry-color);
  padding: 10rem 4vw;
  border-radius: 15px;
}

.contact .infos h3{
  font-weight: 400;
  color: var(--main-color);
  font-size: 1.3vw;
}

.contact .infos p{
  font-weight: 200;
  color: var(--main-color);
  font-size: 1.3vw;
}

.contact .infos .icons-info a{
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 20vw;
  padding: 1rem;
  border-radius: 20px;
}

.contact .infos .icons-info a:hover{
  transform: scale(1.05);
  box-shadow: var(--main-color) 0px 0px 15px;
  background-color: var(--main-color);
  color: var(--black-color);
}

.contact .infos .icons-info a:hover h3,
.contact .infos .icons-info a:hover p{
  color: var(--black-color);
}

.contact .infos .icons-info img{
  width: 2.5vw;
}

.contact .contact-form form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main-color);
  border-radius: 15px 0 0 15px ;
  padding: 4vh 4rem;
  gap: 3rem;
  transform: translate(1rem, 6rem);
}

.contact .contact-form form label{
  color: var(--black-color);
  font-weight: 400;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

input::placeholder,
textarea::placeholder {
  transition: opacity 0.3s ease;
}

input:focus::placeholder,
input:hover::placeholder,
textarea:focus::placeholder,
textarea:hover::placeholder {
  opacity: 0;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  outline: none;
  transition: 0.3s ease;
  color: var(--secondry-color);
}

input:focus,
textarea:focus {
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 4px 8px -4px var(--main-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--second-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.contact form label input{
  border: none;
  background-color: transparent;
  padding: 15px 0;
  border-bottom: 1px solid var(--black-color);
  font-size: 1.2vw;
  width: 14rem;
}

.contact form label textarea{
  border: none;
  background-color: transparent;
  padding: 10px 0;
  border-bottom: 1px solid var(--black-color);
  font-size: 1.2vw;
  width: 18rem;
  font-weight: 400;
}

.contact .contact-form form button{
  background-color: var(--secondry-color);
  font-size: 1vw;
  padding: 10px 30px;
  border-radius: 60px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 71%;
  font-weight: 400;
}

.contact .contact-form form button:hover{
  transform: scaleX(1.06);
  background-color: var(--secondry-color);
  box-shadow: rgb(191, 169, 128) 0px 5px 15px;
}

/* end of contact  */ 


/* start of footer  */

footer{
  color: var(--main-color);
  text-align: center;
  padding: 2rem;
  margin-top: 30vh;
  font-size: 1vw;
  border-top: 2px solid var( --nav-border-color);
}

footer img{
  width: 4vw;
  border-radius: 50%;
  margin-bottom: 1em;
}

footer p{
  font-weight: 400;
  margin-bottom: 1em;
}

footer p:first-of-type{
  font-size: 2vw;
  margin-bottom: 0;
}

footer a{
  text-decoration: none
}

footer .social-med svg{
  width:2.5vw  ;
}

path:hover {
  fill:var(--secondry-color);
}

footer .social-med .snapchat{
  margin-inline: .7rem;
}

/* end of footer  */

/*start of breakpoints */


/* small laptop  */
@media (max-width: 1025px) {

.main {
  margin-inline: 2rem;
}

/* start of landig page  */
header{
  min-height: 80vh;
}

.landing-page {
  padding-top: 21vh;
}

.landing-page .pers-ph img {
  display: none;
}

/* end of landig page  */

/* start of home  */
.home{
  margin-top: 7rem;
  min-height: 60vh;
}
/* end of home  */

/* start of about me  */
.about-me{
  height: fit-content;
  padding-block: 15rem ;
}
/* end of about me   */

/* start of contact  */
.contact{
  gap: 0;
  height: fit-content;
}

.contact .contact-form {
  width: 40%;
}
/* end of contact  */

}

/* large laptop  */
@media (min-width: 1440px) {

nav a{
  font-size: 1.2vw;
}

.home {
  height: 77vh;
  margin-block: 13vh 15vh;
  padding-block: 12vh 0;
}
}



/*  tablet */
@media (max-width: 769px) {
/* start navbar */

.main {
  margin-inline: 1rem;
}

nav .sidebar .menu{
  display: block;
}

nav .sidebar .x, 
.links{
  display: none;
}  
   
.links ul{
  flex-direction: column;
  align-items: center;
}

.links ul li{
  border-bottom: 2px solid var( --nav-border-color) ;
  padding: 2vh 0 ;
  width: 20vw;
  text-align: center;
  border-radius: 6px;
}

nav .links ul li:not(:last-child){
  margin-right: 0;
}

.links ul li:hover {
  background-color: var(--secondry-color);
}

#sidebar-active:checked ~ nav {
  width: fit-content;
  margin-inline: 40vw 0;
  margin-top: 2vh;
  align-items: start;
  padding-inline:2rem  5rem;
}

#sidebar-active:checked ~ nav .menu{
  padding-right: 8vw;
}

#sidebar-active:checked ~ nav .name{
  display: none;
}

#sidebar-active:checked ~ nav .links{
display: block;
padding-top: 2vh;
}

/* start of landing page */

header{
  background-image: url(../images/tablet-background\ .jpg);
}

/* end of landing page  */

/* start of work  */

.work {
  grid-template-columns: repeat(2, 1fr);
}

/* end of work  */

/* start of home  */
.home{
  margin-top: 0;
  height: 82vh;
  gap: 0 5rem;
}

/* srart of contact   */

.cntct{
  transform: translate(3vh, 4vh);
}

.contact{
  display: block;
}

.contact article {
  height: fit-content;
  width:62%
}

.contact .infos{
  gap: 2rem 2rem;
  padding: 12vh 4vw;
}

.contact .infos .icons-info a{
  width: auto;
}

.contact .infos h3 {
  font-size: 2vw;
}

.contact .infos p {
  font-size: 1.8vw;
}

.contact .contact-form{
  width:54%;
}
.contact .infos .icons-info a {
  gap: 1rem;
}

.contact .infos .icons-info img{
  width: 3.5vw;
}

.contact .contact-form form{
  transform: translate(39vw, 6rem);
  border-radius: 15px;
}

.contact .contact-form form label {
  font-size: 2vw;
}

.contact .contact-form form label input{
  font-size: 1.8vw;
}

.contact form label textarea{
  font-size: 1.8vw;
}

/* end of contact   */


/* start of footer  */
footer{
  margin-top: 80vh;
}

footer .social-med svg {
  width: 3.5vw;
}

footer p {
  font-size: 1.8vw;
}

/* end of footer  */

}


/* phones  */

@media (max-width: 577px) {

.main {
  margin-inline: 3rem;
}

.title{
font-size: 6.5vw;
}

nav{
  padding: .7rem 1.5rem;
}

header{
  background-image: url(../images/phone-background.jpg);
  height: 43vh;
}

.ui-dev {
  transform: translate(-44%, -247%);
}

.landing-page {
  padding-top: 17vh;
}

.landing-page h2{
  font-size: 8.5vw;
}

.landing-page .pers-ph {
  display: none;
}

/* start of home  */
.home{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: fit-content;
}

.home .title{
  order: 2;
}

.home .title h2 {
  font-size: 10vw;
  text-align: center;
}

.home .snow{
  order: 1;
}

.home .snow img {
  width: 93%;
  margin-inline: 3.5%;
}

.home .paragraph{
  order: 3;
  font-size: 4vw;
  text-align: center;
}

.home .learn-more{
  order: 4;
}

.home .bttn{
  font-size: 5vw;
  padding-inline: 7vw 6vw;
}

.bttn svg {
  width: 10.5vw;
  margin-left: .5rem;
}
/* end of home  */


/* start of about me */
.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 5vh 12vh;
  height: fit-content;
}

.about-me .photos .picture-one,
.about-me .photos .picture-two{
  margin-right: 9vw;
}

.about-me .photos img{
  width: 33vw;
  border-radius: 20vw;
}

.description .title{
  margin-top: 8rem;
}

.about-me .paragraph {
  font-size: 4.2vw;
}

.about-me .hire-me .bttn {
  font-size: 5vw;
}
/* end of about me  */



/* srart of work  */
.work{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work .sec h3{
  font-size: 5vw;
}

.work .tools li img {
  width: 12vw;
}

.bttns .bttn a {
font-size: 3vw;
}

.work .sec:hover .bttns {
    width: 55vw;
    flex-direction: column;
    margin-inline: auto;
}

    .bttns .bttn svg {
        width: 7vw;
    }


/* end of work  */

/* srart of skills  */

.skills .title {
  margin: 6rem 0 0;
  text-align: center;
  font-size: 5vw;
}

.skills ul {
  display: flex;
  animation: spin 25s linear infinite;
  gap: 0;
}

.carousel{
  gap: 0;
}

.carousel ul {
  display: flex;
  gap: 0;
}

.skills ul li img {
  width: 16vw;
}

.skills ul li p{
  font-size: 5vw;
}

/* end of skills  */

/* start of contact  */

.contact article {
  width: 85%;
  margin: auto;
}

.contact .infos {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 4vh 4vw;
  margin-bottom: 7rem;
}

.contact .infos .icons-info a {
width: auto;
}

.contact .infos .icons-info img {
  width: 9vw;
}

.contact .infos h3 {
  font-size: 4.5vw;
}

.contact .infos p {
  font-size: 4.3vw;
}

.contact .contact-form {
  width: 85%;
  margin: auto;
}

.contact .contact-form form {
  transform: translate(0);
}

.contact .contact-form form label {
  font-size: 4.5vw;
}

.contact .contact-form form label input{
  font-size: 4.3vw;
}

.contact form label textarea{
  font-size: 4.3vw;
}

.contact .contact-form form button{
  font-size: 3vw;
  margin: auto;
}

/* end of contact  */

/* start of footer  */
footer {
  margin-top: 71vh;
}

footer img {
  width: 10vw;
  margin-bottom: 1.5rem;
}

footer p:first-of-type {
  font-size: 4.5vw;
}

footer p {
  font-size: 4.5vw;
}

footer .social-med svg {
  width: 8.5vw;
}

/* end of footer  */

}

/* little screens  */
@media (max-width:400px) {

  .contact form label input{
    width: 37vw;
  }
  
  .contact form label textarea{
    width: auto;
  }

}

/* end of breakpoints  */

/* start of animation for skills section   */
@keyframes spin {
  from {
    translate: 0;
  }

  to{
    translate: -100%;
  }
}

/* end of animation for skills section   */